<%
/**
 * @typedef {object} Certificates
 * @property {string} name Certificate name
 * @property {string} issuingOrganization Certificate name
 * @property {string} issueDate Certificate issue date
 * @property {string} expirationDate Certificate issue date
 * @property {string} credentialID Certificate ID
 * @property {string} credentialURL Certificate URL
 *
 * [Section] Certificates
 * @param {array.<Certificate>} certificates
 */
%>

<% if (certificates && Array.isArray(certificates) && certificates.length > 0) { %>
  <section id="publications" class="section">
    <aside class="section-title">
      <h3>Certificates</h3>
    </aside>
    <div class="section-content">
      <% certificates.forEach((c) => { %>
        <div class="item-row">
          <h4 class="strike-through">
            <span><%= c.name %></span>
            <span class="date">
              <%= this.prettyDate(c.issueDate) %> <%if (c.expirationDate) { %> — <%= this.prettyDate(c.expirationDate) %><% } %>
            </span>
          </h4>
          <div class="website pull-right">
            <a target="_blank" href="<%= c.website %>"></a>
          </div>
          <div>
            <em>by</em>
            <strong><%= c.issuingOrganization %></strong>
          </div>
          <div class="summary">
            <em>Credential ID</em>
            <a target="_blank" href="<%= c.credentialURL %>"><%= c.credentialID %></a>
          </div>
        </div>
      <% }); %>
    </div>
  </section>
<% } %>
