<%
/**
 * @typedef {object} Contact
 * @property {string} email Contact email
 * @property {string} phone Contact phone number
 * @property {string} website Contact website
 *
 * [Section] Contact
 * @param {Contact} contact
 */
%>

<% if (contact) { %>
  <section id="contact" class="section">
    <aside class="section-title"><h3>Contact</h3></aside>
    <div class="section-content">
      <div class="item-row">
        <div class="item-row-split">
          <% if (contact.email) { %>
            <div class="item-split">
              <strong>Email</strong>
              <div>
                <a href="mailto:<%= contact.email %>"><%= contact.email %></a>
              </div>
            </div>
          <% } %>
          <% if (contact.phone) { %>
            <div class="item-split">
              <strong>Phone</strong>
              <div class="phone"><%= contact.phone %></div>
            </div>
          <% } %>
          <% if (contact.website) { %>
            <div class="item-split">
              <strong>Website</strong>
              <div>
                <a target="_blank" href="<%= contact.website %>"><%= contact.website %></a>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>
  </section>
<% } %>
