<%
/**
 * @typedef {object} Publication
 * @property {string} name Publication name
 * @property {string} releaseDate Publication release date
 * @property {string} publisher Publication publisher
 * @property {string} summary Publication summary
 *
 * [Section] Publications
 * @param {array.<Publication>} publications
 */
%>

<% if (publications && Array.isArray(publications) && publications.length > 0) { %>
  <section id="publications" class="section">
    <aside class="section-title">
      <h3>Publications</h3>
    </aside>
    <div class="section-content">
      <% publications.forEach((publication) => { %>
        <div class="item-row">
          <h4 class="strike-through">
            <span><%= publication.name %></span>
            <span class="date"><%= this.prettyDate(publication.releaseDate) %></span>
          </h4>
          <div class="website pull-right">
            <a target="_blank" href="<%= publication.website %>"></a>
          </div>
          <div class="publisher">
            <em>Published by</em>
            <strong><%= publication.publisher %></strong>
          </div>
          <div class="summary">
            <p><%= publication.summary %></p>
          </div>
        </div>
      <% }); %>
    </div>
  </section>
<% } %>
